<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<title>퍼블리싱 UI가이드</title>
	
<!-- 공통 CSS -->		
<link rel="stylesheet" type="text/css" href="../css/common.css">
	
<!-- 레이아웃 CSS -->	
<link rel="stylesheet" type="text/css" href="../css/guide.css">
<link rel="stylesheet" type="text/css" href="../css/jquery.syntax.core.css">

<!-- 콘텐츠 CSS -->		
<link rel="stylesheet" type="text/css" href="../css/contents.css">
<link rel="stylesheet" type="text/css" href="../css/gnb.css">
<link rel="stylesheet" type="text/css" href="../css/btn.css">
<link rel="stylesheet" type="text/css" href="../css/board.css">
<link rel="stylesheet" type="text/css" href="../css/dingbat_xeicon.css">
	
<!-- 팝업 -->
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/common.js"></script>	
	
<!-- 복사 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!--1. clipboard.js 파일 cdn을 통해서 로드-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
<!-- 공용 스타일 -->
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/sub.js"></script>
<!-- 공용 스타일 -->	
	
<!-- 인클루드 -->
<script type="text/javascript">   
$(document).ready( function() {
	$("#mobile_menu").load("../include/mobile_menu.html");  //헤더 인클루드
	$("#pc_menu").load("../include/pc_menu.html");  //헤더 인클루드
	$("#left_menu02").load("../include/left_menu02.html");  //헤더 인클루드
				}
	);
</script>
<!-- 인클루드 -->
</head> 
	 
<body>
	<!-- diWrap -->
    <div id="diWrap">
		
    		<div id="skipnavigation" class="blind" title="스킵메뉴">
				<ul>
					<li><a href="#diContents">본문으로 바로가기</a></li>
				</ul>
			</div>
		
			<!-- diHeader -->
			<div id="pc_menu"></div>
			<!-- //diHeader -->
<!-- //diHeader -->


<!-- diContainer -->
<article id="diContainer">
  <!-- diContents -->
  <div id="diContents" class="">

    <div class="dcSubConWarp">
      <div class="basicWrapCenter positionRelative clearfix">
        <div id="diSideMenu" class="leftMenuMv">
          <div class="dcLeftMenuWrap">
            <div class="dcLeftMenu">
		<div id="left_menu02"></div>
	    </div>
            <a href="#skipnavigation" class="dcBtnTop">↑ TOP</a>
          </div>
        </div>
        <div class="dcContentsWrap" id="diContent">
          <div class="dcCon">
			<!-- 콘텐츠 시작 -->
			<div id="diBIZWrap" class="greeting guide-content">
				
				<h2>템플릿 - 네비게이션</h2>
				<hr class="lg">
				<h4>PC 메뉴</h4>
				<div class="pcSize lowView">
		<div style="position: absolute; z-index: 1;"><iframe src="phon_menu.html" style="width:1199px; height:598px; margin-top:88px;"></iframe></div>
		<div class="pc_bg"></div>
		
	</div>
				<h4>모바일 메뉴</h4>
				<p>디바이스 너비 767px이하 경우 모바일 버전의 전체메뉴 표시</p>
				<div class="mobileSize mT20">
		<div style="position: absolute; z-index: 1;"><iframe src="phon_menu.html" style="width:338px; height:598px; margin:22px 0 0 25px;"></iframe></div>
		<div class="bg"></div>
	</div>
				<br>
				<br>
				<div class="guide-code">
		<button class="code_btn btn" data-clipboard-target="#foo">copy</button>
		<pre id="foo"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&#x3C;!-- &#xBCF8;&#xBB38; &#xBC14;&#xB85C;&#xAC00;&#xAE30; &#xC601;&#xC5ED; --&#x3E;
&#x3C;div id=&#x22;dimed&#x22;&#x3E;&#x3C;/div&#x3E;
&#x3C;!-- &#xBA54;&#xB274; &#xB9C8;&#xC2A4;&#xD06C; &#xC601;&#xC5ED; --&#x3E;&#x9;
&#x9;
&#x3C;header&#x3E;
&#x9;&#x3C;!-- gnbWrap --&#x3E;
&#x9;  &#x3C;div class=&#x22;gnbWrap&#x22;&#x3E; 
&#x9;&#x9;&#x3C;!-- gnbArea --&#x3E;
&#x9;&#x9;&#x3C;div class=&#x22;gnbArea&#x22;&#x3E;
&#x9;&#x9;  &#x3C;h1&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;&#x3C;img src=&#x22;../images/ico/logo.png&#x22; alt=&#x22;&#xC2DC;&#xC2A4;&#xD15C;&#xAC8C;&#xC774;&#xD2B8;&#x22;/&#x3E;&#x3C;/a&#x3E;&#x3C;/h1&#x3E;
&#x9;&#x9;  &#x3C;!-- gnbNavi --&#x3E;
&#x9;&#x9;  &#x3C;div class=&#x22;gnbNavi&#x22; style=&#x22;float: none;&#x22;&#x3E;
&#x9;&#x9;&#x9;&#x3C;div id=&#x22;gnb&#x22;&#x3E;
&#x9;&#x9;&#x9;  &#x3C;ul class=&#x22;nav&#x22;&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;li id=&#x22;menu_width1&#x22; class=&#x22;menuDepth1&#x22; style=&#x22;&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 01&#x3C;/a&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;ul class=&#x22;menuDepth2&#x22;&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;MENU01_01&#x3C;/a&#x3E;&#x3C;/li&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;/ul&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;/li&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;li id=&#x22;menu_width2&#x22; class=&#x22;menuDepth1&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 02&#x3C;/a&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;ul class=&#x22;menuDepth2&#x22;&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;MENU02_01&#x3C;/a&#x3E;&#x3C;/li&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;/ul&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;/li&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;li id=&#x22;menu_width3&#x22; class=&#x22;menuDepth1&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 03&#x3C;/a&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;ul class=&#x22;menuDepth2&#x22;&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;MENU03_01&#x3C;/a&#x3E;&#x3C;/li&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;/ul&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;/li&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;li id=&#x22;menu_width4&#x22; class=&#x22;menuDepth1&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 04&#x3C;/a&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;ul class=&#x22;menuDepth2&#x22;&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;MENU04_01&#x3C;/a&#x3E;&#x3C;/li&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;/ul&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;/li&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;li id=&#x22;menu_width5&#x22; class=&#x22;menuDepth1&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 05&#x3C;/a&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;ul class=&#x22;menuDepth2&#x22;&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;MENU05_01&#x3C;/a&#x3E;&#x3C;/li&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;/ul&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;/li&#x3E;
&#x9;&#x9;&#x9;  &#x3C;/ul&#x3E;
&#x9;&#x9;&#x9;&#x3C;/div&#x3E;
&#x9;&#x9;  &#x3C;/div&#x3E;
&#x9;&#x9;  &#x3C;!-- //gnbNavi --&#x3E; 

&#x9;&#x9;  &#x3C;!-- &#xB85C;&#xADF8;&#xC778;, &#xD68C;&#xC6D0;&#xAC00;&#xC785; --&#x3E;
&#x9;&#x9;  &#x3C;div class=&#x22;loginArea&#x22;&#x3E;
&#x9;&#x9;&#x9;&#x3C;div class=&#x22;login_after_box&#x22;&#x3E;
&#x9;&#x9;&#x9;  &#x3C;ul&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;li&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;div class=&#x22;workChange&#x22;&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;a class=&#x22;l_change_n&#x22; href=&#x22;#&#x22;&#x3E;&#xD64D;&#xAE38;&#xB3D9;&#xB2D8;&#x3C;/a&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;/div&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;div class=&#x22;moreWork&#x22; style=&#x22;display: none;&#x22;&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;ul&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x9;  &#x3C;li&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;&#x3C;span&#x3E;&#xB9C8;&#xC774;&#xD398;&#xC774;&#xC9C0;&#x3C;/span&#x3E;&#x3C;/a&#x3E;&#x3C;/li&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x9;  &#x3C;li&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E; &#x3C;span&#x3E;&#xD68C;&#xC6D0;&#xC815;&#xBCF4;&#xC218;&#xC815;&#x3C;/span&#x3E; &#x3C;/a&#x3E; &#x3C;/li&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x9;  &#x3C;li&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E; &#x3C;span&#x3E;&#xB85C;&#xADF8;&#xC544;&#xC6C3;&#x3C;/span&#x3E; &#x3C;/a&#x3E; &#x3C;/li&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;/ul&#x3E;
&#x9;&#x9;&#x9;&#x9;  &#x3C;/div&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;/li&#x3E;

&#x9;&#x9;&#x9;  &#x3C;/ul&#x3E;
&#x9;&#x9;&#x9;&#x3C;/div&#x3E;&#x9;
&#x9;&#x9;  &#x3C;/div&#x3E;
&#x9;&#x9;  &#x3C;!-- //&#xB85C;&#xADF8;&#xC778;, &#xD68C;&#xC6D0;&#xAC00;&#xC785; --&#x3E;

&#x9;&#x9;  &#x3C;div class=&#x22;mobile_gnb&#x22;&#x3E;
&#x9;&#x9;&#x9;&#x3C;div class=&#x22;hamburger mobile_gnb_open_btn&#x22; id=&#x22;hamburger-1&#x22;&#x3E;&#x3C;span class=&#x22;line&#x22;&#x3E;&#x3C;/span&#x3E;&#x3C;span class=&#x22;line&#x22;&#x3E;&#x3C;/span&#x3E;&#x3C;span class=&#x22;line&#x22;&#x3E;&#x3C;/span&#x3E;&#x3C;/div&#x3E;
&#x9;&#x9;&#x9;&#x3C;div class=&#x22;mobile_gnb_list&#x22;&#x3E;
&#x9;&#x9;&#x9;  &#x3C;div class=&#x22;mobileLogin&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;&#xB85C;&#xADF8;&#xC778;&#x3C;/a&#x3E; &#x3C;/div&#x3E;
&#x9;&#x9;&#x9;  &#x3C;div class=&#x22;gnb_area&#x22;&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;div id=&#x22;menu_width1&#x22; class=&#x22;oneD depth&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 01&#x3C;/a&#x3E;&#x3C;/div&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;div class=&#x22;twoD&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 01_01&#x3C;/a&#x3E;&#x3C;/div&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;div id=&#x22;menu_width2&#x22; class=&#x22;oneD depth&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 02&#x3C;/a&#x3E;&#x3C;/div&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;div class=&#x22;twoD&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 02_01&#x3C;/a&#x3E;&#x3C;/div&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;div id=&#x22;menu_width3&#x22; class=&#x22;oneD depth&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 03&#x3C;/a&#x3E;&#x3C;/div&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;div class=&#x22;twoD&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 03_01&#x3C;/a&#x3E;&#x3C;/div&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;div id=&#x22;menu_width4&#x22; class=&#x22;oneD depth&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 04&#x3C;/a&#x3E;&#x3C;/div&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;div class=&#x22;twoD&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 04_01&#x3C;/a&#x3E;&#x3C;/div&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;div id=&#x22;menu_width5&#x22; class=&#x22;oneD depth&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 05&#x3C;/a&#x3E;&#x3C;/div&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;div class=&#x22;twoD&#x22;&#x3E; &#x3C;a href=&#x22;#&#x22;&#x3E;MENU 05_01&#x3C;/a&#x3E; &#x3C;/div&#x3E;
&#x9;&#x9;&#x9;  &#x3C;/div&#x3E;
&#x9;&#x9;&#x9;&#x3C;/div&#x3E;
&#x9;&#x9;  &#x3C;/div&#x3E;
&#x9;&#x9;  &#x3C;!-- //gnbArea --&#x3E; 
&#x9;&#x9;&#x3C;/div&#x3E;
&#x9;  &#x3C;/div&#x3E;
&#x9;  &#x3C;!-- //gnbWrap --&#x3E;
&#x9; &#x3C;form class=&#x22;authority2&#x22; id=&#x22;loginForm2&#x22; name=&#x22;loginForm2&#x22; method=&#x22;post&#x22;&#x3E;
&#x9;&#x9;&#x3C;input type=&#x22;hidden&#x22; id=&#x22;athrCd&#x22; name=&#x22;athrCd&#x22; value=&#x22;100004&#x22;&#x3E;
&#x9;  &#x3C;/form&#x3E;
&#x3C;!-- gnb_layout :e --&#x3E;
&#x3C;/header&#x3E;</span></span></span></code></pre>
	</div>
								
				
				
			 </div>
            <!-- //콘텐츠 끝 -->
    
          </div>
        </div>
      </div>
    </div>

<!-- diFooter -->

<!-- 전체메뉴 박스 -->
<div id="mobile_menu"></div>
<!-- //전체메뉴 박스 -->
		</div> 
	  <!-- //div = diContents --> 
		 </article> <!-- //<article id="diContainer"> --> 
		
		
		</div>  
	 <!-- //div = diWrap -->
	
<!-- 20240319 스크립트 수정 start -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script>
		// 3. 웹 문서가 로드되면 클립보드 객체 생성
		$(document).ready(function(){

			var clipboard = new Clipboard('.btn');
		// 알림창 옵션 설정
	var toastrOptions = {
	  "debug": false,
	  "newestOnTop": false,
	  "progressBar": false,
	  "positionClass": "toast-top-right",
	  "preventDuplicates": true,
	  "onclick": null,
	  "showDuration": "100",
	  "hideDuration": "100",
	  "timeOut": "100",
	  "extendedTimeOut": "100",
	  "showEasing": "swing",
	  "hideEasing": "linear",
	  "showMethod": "fadeIn",
	  "hideMethod": "fadeOut",
	};

	// 스크립트 복사 성공 시 알림창 띄우기
	clipboard.on('success', function(e) {
	  console.log("Success");
	  var selection = window.getSelection();
	  selection.removeAllRanges();
	  toastr.success("클립보드에 복사 되었습니다.", toastrOptions);
	});

			clipboard.on('error', function(e) {
				console.log("Fail");
			});

			 var btns = document.querySelectorAll('button');
			var clipboard = new Clipboard(btns);

		});
	</script>
<!-- 20240319 스크립트 수정 end -->
</body>
</html>
