<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<title>퍼블리싱 UI가이드</title>
	
<!-- 공통 CSS -->		
<link rel="stylesheet" type="text/css" href="../css/common.css">
	
<!-- 레이아웃 CSS -->	
<link rel="stylesheet" type="text/css" href="../css/guide.css">
<link rel="stylesheet" type="text/css" href="../css/jquery.syntax.core.css">

<!-- 콘텐츠 CSS -->		
<link rel="stylesheet" type="text/css" href="../css/contents.css">
<link rel="stylesheet" type="text/css" href="../css/gnb.css">
<link rel="stylesheet" type="text/css" href="../css/btn.css">
<link rel="stylesheet" type="text/css" href="../css/board.css">
<link rel="stylesheet" type="text/css" href="../css/dingbat_xeicon.css">
	
<!-- 팝업 -->
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/common.js"></script>	
	
<!-- 복사 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!--1. clipboard.js 파일 cdn을 통해서 로드-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
<!-- 공용 스타일 -->
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/sub.js"></script>
<!-- 공용 스타일 -->	
	
<!-- 인클루드 -->
<script type="text/javascript">   
$(document).ready( function() {
	$("#mobile_menu").load("../include/mobile_menu.html");  //헤더 인클루드
	$("#pc_menu").load("../include/pc_menu.html");  //헤더 인클루드
				}
	);
</script>
<!-- 인클루드 -->

	
</head>
<body>
	<!-- diWrap -->
    <div id="diWrap">
		
    		<div id="skipnavigation" class="blind" title="스킵메뉴">
				<ul>
					<li><a href="#diContents">본문으로 바로가기</a></li>
				</ul>
			</div>
		
			<!-- diHeader -->
			<div id="pc_menu"></div>
			<!-- //diHeader -->
<!-- //diHeader -->


<!-- diContainer -->
<article id="diContainer">
  <!-- diContents -->
  <div id="diContents" class="">

    <div class="dcSubConWarp">
      <div class="basicWrapCenter positionRelative clearfix">
        <div id="diSideMenu" class="leftMenuMv">
          <div class="dcLeftMenuWrap">
            <div class="dcLeftMenu">
				<nav id="diLeftMenuList">
				  <ul>
					<li class="dc1depth" style="border-radius:1rem 0 0 0;">
						<a href="sub_02_01_01.html" class="dc1Title">템플릿</a>
						 <ul class="dc2depth" style="height:352px;">
						<li><a href="sub_02_01_01.html">버튼</a></li>
						<li><a href="sub_02_01_02.html">테이블·공동 페이지네이션</a></li>
						<li><a href="sub_02_01_03.html">검색창</a></li>
						<li><a href="sub_02_01_04.html">탭</a></li>
						<li><a href="sub_02_01_05.html">체크박스·인풋·셀렉트 박스</a></li>
						<li><a href="sub_02_01_06.html">도움말·로딩·에러페이지</a></li>
						<li><a href="sub_02_01_07.html">구획 제목 요소·정렬·박스</a></li>
						<li><a href="sub_02_01_08.html">네비게이션</a></li>
						<li><a href="sub_02_01_09.html">브라우저 스크롤</a></li>
					  </ul>
					  </li>
					<li class="dc2depth"><a href="sub_02_02_01.html" class="dc1Title">주요태그</a>
					  <ul class="dc2depth" style="height:150px;">
						<li><a href="sub_02_02_01.html#section02_01">버튼</a></li>
						<li><a href="sub_02_02_01.html#section02_02">input</a></li>
						<li><a href="sub_02_02_01.html#section02_03">aria-labe</a></li>
						<li><a href="sub_02_02_01.html#section02_04">title</a></li>
					  </ul>
					</li>
					 <li class="dc3depth active"><a href="sub_02_03_01.html" class="dc1Title">화면설정</a>
					  <ul class="dc2depth">
						<li><a href="sub_02_03_01.html#section03_01">개요</a></li>
						<li><a href="sub_02_03_01.html#section03_02">엘리먼트 적용</a></li>
						<li><a href="sub_02_03_01.html#section03_03">화면설정</a></li>
					  </ul>
					</li>
				  </ul>
				</nav>
				</div>
            <a href="#skipnavigation" class="dcBtnTop">↑ TOP</a>
          </div>
        </div>
        <div class="dcContentsWrap" id="diContent">
          <div class="dcCon">
			<!-- 콘텐츠 시작 -->
			<div id="diBIZWrap" class="greeting guide-content">
				
				<h2>화면설정</h2>
				<hr class="lg">
				<h3 id="section03_01">개요</h3>
				<p>
	실무에서 사용하는 구성요소와 태그를 웹 접근성을 고려하여 정리하였습니다.<br>
	템플릿 화면에서 요소를 사용하기 위해서는 화면설정 부분에 CSS, JS, script 파일을 먼저 적용해주세요.
	</p>
				
				<h3 id="section03_02">엘리먼트 적용</h3>
				<div class="guide-code">
	<button class="code_btn btn" data-clipboard-target="#foo4_3">copy</button>
	<pre id="foo4_3"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&lt;!doctype html&gt;
&lt;html lang="ko"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;meta http-equiv="X-UA-Compatible" content="IE-edge" /&gt; &lt;!-- 브라우저 호환성 --&gt;
&lt;meta name="Keywords" content="ex)시스템게이트 사업관리시스템" /&gt; &lt;!-- 검색엔진에 의해 검색되는 단어 지정 --&gt;
&lt;meta name="Description" content="ex) 안녕하세요 시스템게이트 사업관리 시스템입니다." /&gt; &lt;!-- 검색 결과에 표시되는 문자 지정 --&gt;
&lt;meta name="author" content="ex)시스템게이트" /&gt;&lt;!--제작자 설정 --&gt;
&lt;meta name="subject" content="ex)시스템게이트 사업관리시스템" /&gt; &lt;!-- 사이트 주요 주제 설정 --&gt;
&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt; &lt;!-- 모바일 반응형 페이지 설정 --&gt;
&lt;link href="이미지 경로" rel="shortcut icon" type="image/x-icon" /&gt; &lt;!-- 파비콘 설정 --&gt;
&lt;title&gt;ex)시스템게이트 메인화면&lt;/title&gt;
&lt;/head&gt;</span>
</span></span></code></pre>
	</div>
				<h3 id="section03_03">화면설정</h3>
				<h4>CSS</h4>
		<p>CSS 경로 설정을 해주세요.</p>
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo">copy</button>
<pre id="foo"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag"> &lt;!-- 공통 CSS --&gt;		
&lt;link rel="stylesheet" type="text/css" href="css/common.css"&gt;

&lt;!-- 콘텐츠 CSS --&gt;		
&lt;link rel="stylesheet" type="text/css" href="css/contents.css"&gt;
&lt;link rel="stylesheet" type="text/css" href="css/gnb.css"&gt;
&lt;link rel="stylesheet" type="text/css" href="css/btn.css"&gt;
&lt;link rel="stylesheet" type="text/css" href="css/board.css"&gt;
&lt;link rel="stylesheet" type="text/css" href="css/dingbat_xeicon.css"&gt;</span>
</span></span></code></pre>
	</div>
				<h4>JS</h4>
				<ul class="desc-guide">
		<li>JS 경로 설정을 해주세요.</li>
	</ul>
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo1">copy</button>
<pre id="foo1"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&#x3C;!-- &#xACF5;&#xD1B5; --&#x3E;
&#x3C;script src=&#x22;js/jquery-1.11.3.min.js&#x22;&#x3E;&#x3C;/script&#x3E;
&#x3C;script src=&#x22;js/common.js&#x22;&#x3E;&#x3C;/script&#x3E;&#x9;&#x9;
&#x3C;script src=&#x22;../js/sub.js&#x22;&#x3E;&#x3C;/script&#x3E;

&#x3C;!-- &#xBA54;&#xB274; --&#x3E;&#x9;
&#x3C;script src=&#x22;../js/jquery-3.3.1.min.js&#x22;&#x3E;&#x3C;/script&#x3E;
&#x3C;script src=&#x22;../js/common_turu.js&#x22;&#x3E;&#x3C;/script&#x3E;
&#x3C;script src=&#x22;../js/bootstrap.min.js&#x22;&#x3E;&#x3C;/script&#x3E;&#x9;</span>
</span></span></code></pre>
	</div>
				<h4>script</h4>
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo2">copy</button>
<pre id="foo2"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag"> &lt;!-- 메뉴 --&gt;
&lt;script type="text/javascript"&gt;
	var menu=1;
	var sub=1;

	function hide(){
		if(menu &amp;&amp; sub){
			$("#gnb .on").next().slideUp("fast");
			$("#gnb .on").removeClass("on");
		}
	}

	$("#gnb &gt; li &gt; a").bind("mouseover focus",function(){
		$("#gnb .on").next().slideUp("fast");
		$("#gnb .on").removeClass("on");

		$(this).addClass("on");
		$(this).next().stop().slideDown("fast");
	})

	$("#gnb").mouseenter(function(){
		menu=0;
	});
	$("#gnb ul").mouseenter(function(){
		sub=0;
	});

	$("#gnb").mouseleave(function(){
		menu=1;
		setTimeout(hide, 500);
	});
	$("#gnb ul").mouseleave(function(){
		sub=1;
		setTimeout(hide, 500);
	});
&lt;/script&gt;</span>
</span></span></code></pre>
	</div>
				
				
			 </div>
            <!-- //콘텐츠 끝 -->
    
          </div>
        </div>
      </div>
    </div>

<!-- diFooter -->

<!-- 전체메뉴 박스 -->
<div id="mobile_menu"></div>
<!-- //전체메뉴 박스 -->


		</div> 
	  <!-- //div = diContents --> 
		 </article> <!-- //<article id="diContainer"> --> 
		
		
		</div>  
	 <!-- //div = diWrap -->
	
<!-- 20240319 스크립트 수정 start -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script>
		// 3. 웹 문서가 로드되면 클립보드 객체 생성
		$(document).ready(function(){

			var clipboard = new Clipboard('.btn');
		// 알림창 옵션 설정
	var toastrOptions = {
	  "debug": false,
	  "newestOnTop": false,
	  "progressBar": false,
	  "positionClass": "toast-top-right",
	  "preventDuplicates": true,
	  "onclick": null,
	  "showDuration": "100",
	  "hideDuration": "100",
	  "timeOut": "100",
	  "extendedTimeOut": "100",
	  "showEasing": "swing",
	  "hideEasing": "linear",
	  "showMethod": "fadeIn",
	  "hideMethod": "fadeOut",
	};

	// 스크립트 복사 성공 시 알림창 띄우기
	clipboard.on('success', function(e) {
	  console.log("Success");
	  var selection = window.getSelection();
	  selection.removeAllRanges();
	  toastr.success("클립보드에 복사 되었습니다.", toastrOptions);
	});

			clipboard.on('error', function(e) {
				console.log("Fail");
			});

			 var btns = document.querySelectorAll('button');
			var clipboard = new Clipboard(btns);

		});
	</script>
<!-- 20240319 스크립트 수정 end -->
</body>
</html>
