<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<title>퍼블리싱 UI가이드</title>
	
<!-- 공통 CSS -->		
<link rel="stylesheet" type="text/css" href="../css/common.css">
	
<!-- 레이아웃 CSS -->	
<link rel="stylesheet" type="text/css" href="../css/guide.css">
<link rel="stylesheet" type="text/css" href="../css/jquery.syntax.core.css">

<!-- 콘텐츠 CSS -->		
<link rel="stylesheet" type="text/css" href="../css/contents.css">
<link rel="stylesheet" type="text/css" href="../css/gnb.css">
<link rel="stylesheet" type="text/css" href="../css/btn.css">
<link rel="stylesheet" type="text/css" href="../css/board.css">
<link rel="stylesheet" type="text/css" href="../css/dingbat_xeicon.css">
	
<!-- 팝업 -->
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/common.js"></script>	
	
<!-- 복사 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!--1. clipboard.js 파일 cdn을 통해서 로드-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
<!-- 공용 스타일 -->
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/sub.js"></script>
<!-- 공용 스타일 -->

<!-- 인클루드 -->
<script type="text/javascript">   
$(document).ready( function() {
	$("#mobile_menu").load("../include/mobile_menu.html");  //헤더 인클루드
	$("#pc_menu").load("../include/pc_menu.html");  //헤더 인클루드
				}
	);
</script>
<!-- 인클루드 -->	

</head>
	
	
	 
	 
<body>
	<!-- diWrap -->
    <div id="diWrap">
		
    		<div id="skipnavigation" class="blind" title="스킵메뉴">
				<ul>
					<li><a href="#diContents">본문으로 바로가기</a></li>
				</ul>
			</div>
		
			<!-- diHeader -->
			<div id="pc_menu"></div>
			<!-- //diHeader -->
<!-- //diHeader -->


<!-- diContainer -->
<article id="diContainer">
  <!-- diContents -->
  <div id="diContents" class="">

    <div class="dcSubConWarp">
      <div class="basicWrapCenter positionRelative clearfix">
        <div id="diSideMenu" class="leftMenuMv">
          <div class="dcLeftMenuWrap">
            <div class="dcLeftMenu">
				<nav id="diLeftMenuList">
				  <ul>
					<li class="dc1depth active" style="border-radius:1rem 0 0 0;">
						<a href="sub_02_01_01.html" class="dc1Title">템플릿</a>
						 <ul class="dc2depth">
						<li><a href="sub_02_01_01.html">버튼</a></li>
						<li><a href="sub_02_01_02.html">테이블·공동 페이지네이션</a></li>
						<li><a href="sub_02_01_03.html">검색창</a></li>
						<li><a href="sub_02_01_04.html">탭</a></li>
						<li><a href="sub_02_01_05.html">체크박스·인풋·셀렉트 박스</a></li>
						<li><a href="sub_02_01_06.html">도움말·로딩·에러페이지</a></li>
						<li><a href="sub_02_01_07.html">구획 제목 요소·정렬·박스</a></li>
						<li><a href="sub_02_01_08.html">네비게이션</a></li>
						<li><a href="sub_02_01_09.html">브라우저 스크롤</a></li>
					  </ul>
					  </li>
					<li class="dc2depth"><a href="sub_02_02_01.html" class="dc1Title">주요태그</a>
					  <ul class="dc2depth">
						<li><a href="sub_02_02_01.html#section02_01">버튼</a></li>
						<li><a href="sub_02_02_01.html#section02_02">input</a></li>
						<li><a href="sub_02_02_01.html#section02_03">aria-labe</a></li>
						<li><a href="sub_02_02_01.html#section02_04">title</a></li>
					  </ul>
					</li>
					 <li class="dc2depth"><a href="sub_02_03_01.html" class="dc1Title">화면설정</a>
					  <ul class="dc2depth">
						<li><a href="sub_02_03_01.html#section03_01">개요</a></li>
						<li><a href="sub_02_03_01.html#section03_02">엘리먼트 적용</a></li>
						<li><a href="sub_02_03_01.html#section03_03">화면설정</a></li>
					  </ul>
					</li>
				  </ul>
				</nav>
				</div>
            <a href="#skipnavigation" class="dcBtnTop">↑ TOP</a>
          </div>
        </div>
        <div class="dcContentsWrap" id="diContent">
          <div class="dcCon">
			<!-- 콘텐츠 시작 -->
			<div id="diBIZWrap" class="greeting guide-content">
				
				<h2>템플릿 - 버튼</h2>
				<hr class="lg">
				<h3>버튼</h3>
				<h4>기본 버튼</h4>
				<ul class="desc-guide">
		<li>base_button와 table_button의 따라 크기가 결정되고 bg_white, bg_gray, bg_red, bg_blue, bg_cobalt을 추가하여 다른 색상을 지정할 수 있다.</li>
	</ul>
				<div class="taL">
		<a href="#" class="base_button bg_white">base_button</a>
		<a href="#" class="base_button bg_gray">bg_gray</a>
		<a href="#" class="base_button bg_red">bg_red</a>
		<a href="#" class="base_button bg_blue">bg_blue</a>
		<a href="#" class="base_button bg_cobalt">bg_cobalt</a>
	</div>
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo">copy</button>
<pre id="foo"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&#x3C;a href=&#x22;#&#x22; class=&#x22;base_button bg_white&#x22;&#x3E;base_button&#x3C;/a&#x3E;
&#x3C;a href=&#x22;#&#x22; class=&#x22;base_button bg_gray&#x22;&#x3E;bg_gray&#x3C;/a&#x3E;
&#x3C;a href=&#x22;#&#x22; class=&#x22;base_button bg_red&#x22;&#x3E;bg_red&#x3C;/a&#x3E;
&#x3C;a href=&#x22;#&#x22; class=&#x22;base_button bg_blue&#x22;&#x3E;bg_blue&#x3C;/a&#x3E;
&#x3C;a href=&#x22;#&#x22; class=&#x22;base_button bg_cobalt&#x22;&#x3E;bg_cobalt&#x3C;/a&#x3E;</span>
</span></span></code></pre>
	</div>
				<div class="taL">
		<a href="#" class="table_button bg_white">table_button</a>
		<a href="#" class="table_button bg_gray">bg_gray</a>
		<a href="#" class="table_button bg_red">bg_red</a>
		<a href="#" class="table_button bg_blue">bg_blue</a>
		<a href="#" class="table_button bg_cobalt">bg_cobalt</a>
	</div>
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo2">copy</button>
<pre id="foo2"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&#x3C;a href=&#x22;#&#x22; class=&#x22;table_button bg_white&#x22;&#x3E;table_button&#x3C;/a&#x3E;
&#x3C;a href=&#x22;#&#x22; class=&#x22;table_button bg_gray&#x22;&#x3E;bg_gray&#x3C;/a&#x3E;
&#x3C;a href=&#x22;#&#x22; class=&#x22;table_button bg_red&#x22;&#x3E;bg_red&#x3C;/a&#x3E;
&#x3C;a href=&#x22;#&#x22; class=&#x22;table_button bg_blue&#x22;&#x3E;bg_blue&#x3C;/a&#x3E;
&#x3C;a href=&#x22;#&#x22; class=&#x22;table_button bg_cobalt&#x22;&#x3E;bg_cobalt&#x3C;/a&#x3E;</span>
</span></span></code></pre>
	</div>
				<h4>테이블 버튼</h4>
				<ul class="desc-guide">
		<li>버튼의 설정 클래스로 base_button를 사용하고 원하는 색상 지정을 위해bg_white 추가한다.</li>
	</ul>
				<div class="taL">
		<a href="#" class="tag bg_gray">bg_gray</a>
		<a href="#" class="tag bg_red">bg_red</a>
		<a href="#" class="tag bg_blue">bg_blue</a>
		<a href="#" class="tag bg_cobalt">bg_cobalt</a>
	</div>
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo3">copy</button>
<pre id="foo3"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&#x3C;a href=&#x22;#&#x22; class=&#x22;tag bg_gray&#x22;&#x3E;bg_gray&#x3C;/a&#x3E;
&#x3C;a href=&#x22;#&#x22; class=&#x22;tag bg_red&#x22;&#x3E;bg_red&#x3C;/a&#x3E;
&#x3C;a href=&#x22;#&#x22; class=&#x22;tag bg_blue&#x22;&#x3E;bg_blue&#x3C;/a&#x3E;
&#x3C;a href=&#x22;#&#x22; class=&#x22;tag bg_cobalt&#x22;&#x3E;bg_cobalt&#x3C;/a&#x3E;</span>
</span></span></code></pre>
	</div>
								
				
				
			 </div>
            <!-- //콘텐츠 끝 -->
    
          </div>
        </div>
      </div>
    </div>

<!-- diFooter -->

<!-- 전체메뉴 박스 -->
<div id="mobile_menu"></div>
<!-- //전체메뉴 박스 -->


		</div> 
	  <!-- //div = diContents --> 
		 </article> <!-- //<article id="diContainer"> --> 
		
		
		</div>  
	 <!-- //div = diWrap -->
	
<!-- 20240319 스크립트 수정 start -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script>
		// 3. 웹 문서가 로드되면 클립보드 객체 생성
		$(document).ready(function(){

			var clipboard = new Clipboard('.btn');
		// 알림창 옵션 설정
	var toastrOptions = {
	  "debug": false,
	  "newestOnTop": false,
	  "progressBar": false,
	  "positionClass": "toast-top-right",
	  "preventDuplicates": true,
	  "onclick": null,
	  "showDuration": "100",
	  "hideDuration": "100",
	  "timeOut": "100",
	  "extendedTimeOut": "100",
	  "showEasing": "swing",
	  "hideEasing": "linear",
	  "showMethod": "fadeIn",
	  "hideMethod": "fadeOut",
	};

	// 스크립트 복사 성공 시 알림창 띄우기
	clipboard.on('success', function(e) {
	  console.log("Success");
	  var selection = window.getSelection();
	  selection.removeAllRanges();
	  toastr.success("클립보드에 복사 되었습니다.", toastrOptions);
	});

			clipboard.on('error', function(e) {
				console.log("Fail");
			});

			 var btns = document.querySelectorAll('button');
			var clipboard = new Clipboard(btns);

		});
	</script>
<!-- 20240319 스크립트 수정 end -->
</body>
</html>
