<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<title>퍼블리싱 UI가이드</title>
	
<!-- 공통 CSS -->		
<link rel="stylesheet" type="text/css" href="../css/common.css">
	
<!-- 레이아웃 CSS -->	
<link rel="stylesheet" type="text/css" href="../css/guide.css">
<link rel="stylesheet" type="text/css" href="../css/jquery.syntax.core.css">

<!-- 콘텐츠 CSS -->		
<link rel="stylesheet" type="text/css" href="../css/contents.css">
<link rel="stylesheet" type="text/css" href="../css/gnb.css">
<link rel="stylesheet" type="text/css" href="../css/btn.css">
<link rel="stylesheet" type="text/css" href="../css/board.css">
<link rel="stylesheet" type="text/css" href="../css/dingbat_xeicon.css">
	
<!-- 팝업 -->
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/common.js"></script>	
	
<!-- 복사 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!--1. clipboard.js 파일 cdn을 통해서 로드-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
<!-- 인클루드 -->
<script type="text/javascript">   
$(document).ready( function() {
	$("#mobile_menu").load("../include/mobile_menu.html");  //헤더 인클루드
	$("#pc_menu").load("../include/pc_menu.html");  //헤더 인클루드
	$("#left_menu02").load("../include/left_menu02_01.html");  //헤더 인클루드
				}
	);
</script>
<!-- 인클루드 -->

</head>	 
	 
<body>
	<!-- diWrap -->
    <div id="diWrap">
		
    		<div id="skipnavigation" class="blind" title="스킵메뉴">
				<ul>
					<li><a href="#diContents">본문으로 바로가기</a></li>
				</ul>
			</div>
		
			<!-- diHeader -->
			<div id="pc_menu"></div>
			<!-- //diHeader -->
<!-- //diHeader -->


<!-- diContainer -->
<article id="diContainer">
  <!-- diContents -->
  <div id="diContents" class="">

    <div class="dcSubConWarp">
      <div class="basicWrapCenter positionRelative clearfix">
        <div id="diSideMenu" class="leftMenuMv">
          <div class="dcLeftMenuWrap">
            <div class="dcLeftMenu">
		<div id="left_menu02"></div>
	    </div>
            <a href="#skipnavigation" class="dcBtnTop">↑ TOP</a>
          </div>
        </div>
        <div class="dcContentsWrap" id="diContent">
          <div class="dcCon">
			<!-- 콘텐츠 시작 -->
			<div id="diBIZWrap" class="greeting guide-content">
				
				<h2>템플릿 - 체크박스·인풋·셀렉트 박스</h2>
				<hr class="lg">
				<h4>체크박스 - 원형</h4>
				<span class="chk">
		<input type="checkbox" id="id">
		<label for="id">텍스트</label>
	</span>
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo15">copy</button>
<pre id="foo15"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&lt;span class="chk"&gt;
	&lt;input type="checkbox" id="id"&gt;
	&lt;label for="id"&gt;텍스트&lt;/label&gt;
&lt;/span&gt;</span>
</span></span></code></pre>
	</div>
				<h4>사각 체크박스</h4>
				<span class="chk rect">
		<input type="checkbox" id="id1">
		<label for="id1">텍스트</label>
	</span>
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo16">copy</button>
<pre id="foo16"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&lt;span class="chk rect"&gt;
	&lt;input type="checkbox" id="id1"&gt;
	&lt;label for="id1"&gt;텍스트&lt;/label&gt;
&lt;/span&gt; </span>
</span></span></code></pre>
	</div>
				<h4>input 박스</h4>
				<div>
		<label class="hide" for="text_in">입력란</label>
		<input type="text" id="text_in" placeholder="입력하세요." title="입력 란">	
	</div>
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo17_1">copy</button>
<pre id="foo17_1"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&lt;label class="hide" for="text_in"&gt;입력란&lt;/label&gt;
&lt;input type="text" id="text_in" placeholder="입력하세요." title="입력 란"&gt;</span>
</span></span></code></pre>
	</div>
				<h4>select</h4>
				<div class="selectBox">
		<span>선택</span>
		<select name="" title="선택">
				<option value="010" selected="selected">선택</option>
				<option value="011">선택1</option>
				<option value="011">선택2</option>
		</select>
	</div>
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo17">copy</button>
<pre id="foo17"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&lt;div class="selectBox"&gt;
	&lt;span&gt;선택&lt;/span&gt;
	&lt;select name="" title="선택"&gt;
			&lt;option value="010" selected="selected"&gt;선택&lt;/option&gt;
			&lt;option value="011"&gt;선택1&lt;/option&gt;
			&lt;option value="011"&gt;선택2&lt;/option&gt;
	&lt;/select&gt;
&lt;/div&gt;</span>
</span></span></code></pre>
	</div>
				<h4>radio</h4>
				<div>
		<input style="height:auto;" type="radio" id="watchY" name="watchYN" value="남자">
		<label for="watchY" class="view">남자</label>

		<input style="height:auto;" type="radio" id="watchN" name="watchYN" value="여자">
		<label for="watchN" class="view">여자</label>
	</div>
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo17_2">copy</button>
<pre id="foo17_2"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&lt;input type="radio" id="watchY" value="남자"&gt;
&lt;label for="watchY"&gt;남자&lt;/label&gt;

&lt;input type="radio" id="watchN" value="여자" &gt;
&lt;label for="watchN"&gt;여자&lt;/label&gt;</span>
</span></span></code></pre>
	</div>
								
				
	
			 </div>
            <!-- //콘텐츠 끝 -->
    
          </div>
        </div>
      </div>
    </div>

<!-- diFooter -->

<!-- 전체메뉴 박스 -->
<div id="mobile_menu"></div>
<!-- //전체메뉴 박스 -->
	  
		</div> 
	  <!-- //div = diContents --> 
		 </article> <!-- //<article id="diContainer"> --> 
		
		
		</div>  
	 <!-- //div = diWrap -->
	
<!-- 20240319 스크립트 수정 start -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script>
		// 3. 웹 문서가 로드되면 클립보드 객체 생성
		$(document).ready(function(){

			var clipboard = new Clipboard('.btn');
		// 알림창 옵션 설정
	var toastrOptions = {
	  "debug": false,
	  "newestOnTop": false,
	  "progressBar": false,
	  "positionClass": "toast-top-right",
	  "preventDuplicates": true,
	  "onclick": null,
	  "showDuration": "100",
	  "hideDuration": "100",
	  "timeOut": "100",
	  "extendedTimeOut": "100",
	  "showEasing": "swing",
	  "hideEasing": "linear",
	  "showMethod": "fadeIn",
	  "hideMethod": "fadeOut",
	};

	// 스크립트 복사 성공 시 알림창 띄우기
	clipboard.on('success', function(e) {
	  console.log("Success");
	  var selection = window.getSelection();
	  selection.removeAllRanges();
	  toastr.success("클립보드에 복사 되었습니다.", toastrOptions);
	});

			clipboard.on('error', function(e) {
				console.log("Fail");
			});

			 var btns = document.querySelectorAll('button');
			var clipboard = new Clipboard(btns);

		});
	</script>
<!-- 20240319 스크립트 수정 end -->
</body>
</html>
