<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<title>퍼블리싱 UI가이드</title>
	
<!-- 공통 CSS -->		
<link rel="stylesheet" type="text/css" href="../css/common.css">
	
<!-- 레이아웃 CSS -->	
<link rel="stylesheet" type="text/css" href="../css/guide.css">
<link rel="stylesheet" type="text/css" href="../css/jquery.syntax.core.css">

<!-- 콘텐츠 CSS -->		
<link rel="stylesheet" type="text/css" href="../css/contents.css">
<link rel="stylesheet" type="text/css" href="../css/gnb.css">
<link rel="stylesheet" type="text/css" href="../css/btn.css">
<link rel="stylesheet" type="text/css" href="../css/board.css">
<link rel="stylesheet" type="text/css" href="../css/dingbat_xeicon.css">
	
<!-- 팝업 -->
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/common.js"></script>	
	
<!-- 복사 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!--1. clipboard.js 파일 cdn을 통해서 로드-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
<!-- 인클루드 -->
<script type="text/javascript">   
$(document).ready( function() {
	$("#mobile_menu").load("../include/mobile_menu.html");  //헤더 인클루드
	$("#pc_menu").load("../include/pc_menu.html");  //헤더 인클루드
	$("#left_menu02").load("../include/left_menu02_02.html");  //헤더 인클루드
				}
	);
</script>
<!-- 인클루드 -->
</head>	 
	 
<body>
	<!-- diWrap -->
    <div id="diWrap">
		
    		<div id="skipnavigation" class="blind" title="스킵메뉴">
				<ul>
					<li><a href="#diContents">본문으로 바로가기</a></li>
				</ul>
			</div>
		
			<!-- diHeader -->
			<div id="pc_menu"></div>
			<!-- //diHeader -->
<!-- //diHeader -->


<!-- diContainer -->
<article id="diContainer">
  <!-- diContents -->
  <div id="diContents" class="">

    <div class="dcSubConWarp">
      <div class="basicWrapCenter positionRelative clearfix">
        <div id="diSideMenu" class="leftMenuMv">
          <div class="dcLeftMenuWrap">
            <div class="dcLeftMenu">
				<div id="left_menu02"></div>
				</div>
            <a href="#skipnavigation" class="dcBtnTop">↑ TOP</a>
          </div>
        </div>
        <div class="dcContentsWrap" id="diContent">
          <div class="dcCon">
			<!-- 콘텐츠 시작 -->
			<div id="diBIZWrap" class="greeting guide-content">
				
				<h2>아이콘 - XEIcon</h2>
				<hr class="lg">
				
				<h3>삭제·닫기</h3>
				<div class="report">
					<div class="box_center">
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-close"></i></span>
								<span class="mls">xi-close</span>
							</div>
						</div>
						
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-close-min"></i></span>
								<span class="mls">xi-close-min</span>
							</div>
						</div>
						
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-close-thin"></i></span>
								<span class="mls">xi-close-thin</span>
							</div>
						</div>
						
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-close-thin"></i></span>
								<span class="mls">xi-close-thin</span>
							</div>
						</div>
						
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-close-circle"></i></span>
								<span class="mls">xi-close-circle</span>
							</div>
						</div>
						
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-close-circle-o"></i></span>
								<span class="mls">xi-close-circle-o</span>
							</div>
						</div>
						
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-close-square"></i></span>
								<span class="mls">xi-close-square</span>
							</div>
						</div>
						
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-close-square-o"></i></span>
								<span class="mls">xi-close-square-o</span>
							</div>
						</div>
						
					</div>
				</div>
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo2">copy</button>
<pre id="foo2"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&#x3C;i class=&#x22;xi-close&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-close-min&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-close-thin&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-close-circle&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-close-circle-o&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-close-square&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-close-square-o&#x22;&#x3E;&#x3C;/i&#x3E;</span>
</span></span></code></pre>
	</div>
			<h3>플러스·마이너스</h3>
				
				<div class="report">
					<div class="box_center">
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-plus"></i></span>
								<span class="mls">xi-plus</span>
							</div>
						</div>

						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-plus-min"></i></span>
								<span class="mls">xi-plus-min</span>
							</div>
						</div>

						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-plus-thin"></i></span>
								<span class="mls">xi-plus-thin</span>
							</div>
						</div>

						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-plus-circle"></i></span>
								<span class="mls">xi-plus-circle</span>
							</div>
						</div>

						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-plus-circle-o"></i></span>
								<span class="mls">xi-plus-circle-o</span>
							</div>
						</div>

						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-plus-square"></i></span>
								<span class="mls">xi-plus-square</span>
							</div>
						</div>

						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-plus-square-o"></i></span>
								<span class="mls">xi-plus-square-o</span>
							</div>
						</div>

					</div>
					
				</div>					
		
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo3">copy</button>
<pre id="foo3"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&#x3C;i class=&#x22;xi-plus&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-plus-min&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-plus-thin&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-plus-circle&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-plus-circle-o&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-plus-square&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-plus-square-o&#x22;&#x3E;&#x3C;/i&#x3E;</span>
</span></span></code></pre>
	</div>
			
				<div class="report">
					<div class="box_center">
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-minus"></i></span>
								<span class="mls">xi-minus</span>
							</div>
						</div>
						
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-minus-min"></i></span>
								<span class="mls">xi-minus-min</span>
							</div>
						</div>
						
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-minus-thin"></i></span>
								<span class="mls">xi-minus-thin</span>
							</div>
						</div>
						
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-minus-circle"></i></span>
								<span class="mls">xi-minus-circle</span>
							</div>
						</div>
						
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-minus-circle-o"></i></span>
								<span class="mls">xi-minus-circle-o</span>
							</div>
						</div>
						
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-minus-square"></i></span>
								<span class="mls">xi-minus-square</span>
							</div>
						</div>
						
						<div class="glyph">
							<div class="clearfix">
								<span class="unicode"><i class="xi-minus-square-o"></i></span>
								<span class="mls">xi-minus-square-o</span>
							</div>
						</div>
												
					</div>
				</div>
				
				<div class="guide-code">
<button class="code_btn btn" data-clipboard-target="#foo4">copy</button>
<pre id="foo4"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&#x3C;i class=&#x22;xi-minus&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-minus-min&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-minus-thin&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-minus-circle&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-minus-circle-o&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-minus-square&#x22;&#x3E;&#x3C;/i&#x3E;
&#x3C;i class=&#x22;xi-minus-square-o&#x22;&#x3E;&#x3C;/i&#x3E;
</span></span></code></pre>
	</div>
				
				
			 </div>
            <!-- //콘텐츠 끝 -->
    
          </div>
        </div>
      </div>
    </div>

<!-- diFooter -->

<!-- 전체메뉴 박스 -->
<div id="mobile_menu"></div>
<!-- //전체메뉴 박스 -->

	</div> 
	  <!-- //div = diContents --> 
		 </article> <!-- //<article id="diContainer"> --> 
		
		
		</div>  
	 <!-- //div = diWrap -->
	
<!-- 20240319 스크립트 수정 start -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script>
		// 3. 웹 문서가 로드되면 클립보드 객체 생성
		$(document).ready(function(){

			var clipboard = new Clipboard('.btn');
		// 알림창 옵션 설정
	var toastrOptions = {
	  "debug": false,
	  "newestOnTop": false,
	  "progressBar": false,
	  "positionClass": "toast-top-right",
	  "preventDuplicates": true,
	  "onclick": null,
	  "showDuration": "100",
	  "hideDuration": "100",
	  "timeOut": "100",
	  "extendedTimeOut": "100",
	  "showEasing": "swing",
	  "hideEasing": "linear",
	  "showMethod": "fadeIn",
	  "hideMethod": "fadeOut",
	};

	// 스크립트 복사 성공 시 알림창 띄우기
	clipboard.on('success', function(e) {
	  console.log("Success");
	  var selection = window.getSelection();
	  selection.removeAllRanges();
	  toastr.success("클립보드에 복사 되었습니다.", toastrOptions);
	});

			clipboard.on('error', function(e) {
				console.log("Fail");
			});

			 var btns = document.querySelectorAll('button');
			var clipboard = new Clipboard(btns);

		});
	</script>
<!-- 20240319 스크립트 수정 end -->
</body>
</html>
