<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<title>퍼블리싱 UI가이드</title>
	
<!-- 공통 CSS -->		
<link rel="stylesheet" type="text/css" href="../css/common.css">
	
<!-- 레이아웃 CSS -->	
<link rel="stylesheet" type="text/css" href="../css/guide.css">
<link rel="stylesheet" type="text/css" href="../css/jquery.syntax.core.css">

<!-- 콘텐츠 CSS -->		
<link rel="stylesheet" type="text/css" href="../css/contents.css">
<link rel="stylesheet" type="text/css" href="../css/gnb.css">
<link rel="stylesheet" type="text/css" href="../css/btn.css">
<link rel="stylesheet" type="text/css" href="../css/board.css">
<link rel="stylesheet" type="text/css" href="../css/dingbat_xeicon.css">
	
<!-- 팝업 -->
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/common.js"></script>	
	
<!-- 복사 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!--1. clipboard.js 파일 cdn을 통해서 로드-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
<!-- 공용 스타일 -->
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/sub.js"></script>
<!-- 공용 스타일 -->	
	
<!-- 인클루드 -->
<script type="text/javascript">   
$(document).ready( function() {
	$("#mobile_menu").load("../include/mobile_menu.html");  //헤더 인클루드
	$("#pc_menu").load("../include/pc_menu.html");  //헤더 인클루드
				}
	);
</script>
<!-- 인클루드 -->
	
</head>
	
	
	 
	 
<body>
	<!-- diWrap -->
    <div id="diWrap">
		
    		<div id="skipnavigation" class="blind" title="스킵메뉴">
				<ul>
					<li><a href="#diContents">본문으로 바로가기</a></li>
				</ul>
			</div>
		
			<!-- diHeader -->
			<div id="pc_menu"></div>
			<!-- //diHeader -->
<!-- //diHeader -->


<!-- diContainer -->
<article id="diContainer">
  <!-- diContents -->
  <div id="diContents" class="">

    <div class="dcSubConWarp">
      <div class="basicWrapCenter positionRelative clearfix">
        <div id="diSideMenu" class="leftMenuMv">
          <div class="dcLeftMenuWrap">
            <div class="dcLeftMenu">
				<nav id="diLeftMenuList">
				  <ul>
					<li class="dc1depth active" style="border-radius:1rem 0 0 0;">
						<a href="sub_02_01_01.html" class="dc1Title">템플릿</a>
						 <ul class="dc2depth">
						<li><a href="sub_02_01_01.html">버튼</a></li>
						<li><a href="sub_02_01_02.html">테이블·공동 페이지네이션</a></li>
						<li><a href="sub_02_01_03.html">검색창</a></li>
						<li><a href="sub_02_01_04.html">탭</a></li>
						<li><a href="sub_02_01_05.html">체크박스·인풋·셀렉트 박스</a></li>
						<li><a href="sub_02_01_06.html">도움말·로딩·에러페이지</a></li>
						<li><a href="sub_02_01_07.html">구획 제목 요소·정렬·박스</a></li>
						<li><a href="sub_02_01_08.html">네비게이션</a></li>
						<li><a href="sub_02_01_09.html">브라우저 스크롤</a></li>
					  </ul>
					  </li>
					<li class="dc2depth"><a href="sub_02_02_01.html" class="dc1Title">주요태그</a>
					  <ul class="dc2depth">
						<li><a href="sub_02_02_01.html#section02_01">버튼</a></li>
						<li><a href="sub_02_02_01.html#section02_02">input</a></li>
						<li><a href="sub_02_02_01.html#section02_03">aria-labe</a></li>
						<li><a href="sub_02_02_01.html#section02_04">title</a></li>
					  </ul>
					</li>
					 <li class="dc2depth"><a href="sub_02_03_01.html" class="dc1Title">화면설정</a>
					  <ul class="dc2depth">
						<li><a href="sub_02_03_01.html#section03_01">개요</a></li>
						<li><a href="sub_02_03_01.html#section03_02">엘리먼트 적용</a></li>
						<li><a href="sub_02_03_01.html#section03_03">화면설정</a></li>
					  </ul>
					</li>
				  </ul>
				</nav>
				</div>
            <a href="#skipnavigation" class="dcBtnTop">↑ TOP</a>
          </div>
        </div>
        <div class="dcContentsWrap" id="diContent">
          <div class="dcCon">
			<!-- 콘텐츠 시작 -->
			<div id="diBIZWrap" class="greeting guide-content">
				
				<h2>템플릿 - 네비게이션</h2>
				<hr class="lg">
				<h4>PC 메뉴</h4>
				<div class="pcSize lowView">
		<div style="position: absolute; z-index: 1;"><iframe src="phon_menu.html" style="width:1199px; height:598px; margin-top:88px;"></iframe></div>
		<div class="pc_bg"></div>
		
	</div>
				<h4>모바일 메뉴</h4>
				<p>디바이스 너비 767px이하 경우 모바일 버전의 전체메뉴 표시</p>
				<div class="mobileSize mT20">
		<div style="position: absolute; z-index: 1;"><iframe src="phon_menu.html" style="width:338px; height:598px; margin:22px 0 0 25px;"></iframe></div>
		<div class="bg"></div>
	</div>
				<br>
				<br>
				<div class="guide-code">
		<button class="code_btn btn" data-clipboard-target="#foo">copy</button>
		<pre id="foo"><code class="syntax highlighted syntax-theme-base syntax-theme-bright"><span class="html xml"><span class="text"><span class="xml-tag">&lt;header&gt;
	&lt;!-- gnbWrap --&gt;
	  &lt;div class="gnbWrap"&gt; 
		&lt;!-- gnbArea --&gt;
		&lt;div class="gnbArea"&gt;
		  &lt;h1&gt; &lt;a href="#"&gt;&lt;img src="../images/ico/logo.png" alt="시스템게이트"/&gt;&lt;/a&gt;&lt;/h1&gt;
		  &lt;!-- gnbNavi --&gt;
		  &lt;div class="gnbNavi" style="float: none;"&gt;
			&lt;div id="gnb"&gt;
			  &lt;ul class="nav"&gt;
				&lt;li id="menu_width1" class="menuDepth1" style=""&gt; &lt;a href="#"&gt;MENU 01&lt;/a&gt;
				  &lt;ul class="menuDepth2"&gt;
					&lt;li&gt;&lt;a href="#"&gt;MENU01_01&lt;/a&gt;&lt;/li&gt;
				  &lt;/ul&gt;
				&lt;/li&gt;
				&lt;li id="menu_width2" class="menuDepth1"&gt; &lt;a href="#"&gt;MENU 02&lt;/a&gt;
				  &lt;ul class="menuDepth2"&gt;
					&lt;li&gt;&lt;a href="#"&gt;MENU02_01&lt;/a&gt;&lt;/li&gt;
				  &lt;/ul&gt;
				&lt;/li&gt;
				&lt;li id="menu_width3" class="menuDepth1"&gt; &lt;a href="#"&gt;MENU 03&lt;/a&gt;
				  &lt;ul class="menuDepth2"&gt;
					&lt;li&gt;&lt;a href="#"&gt;MENU03_01&lt;/a&gt;&lt;/li&gt;
				  &lt;/ul&gt;
				&lt;/li&gt;
				&lt;li id="menu_width4" class="menuDepth1"&gt; &lt;a href="#"&gt;MENU 04&lt;/a&gt;
				  &lt;ul class="menuDepth2"&gt;
					&lt;li&gt;&lt;a href="#"&gt;MENU04_01&lt;/a&gt;&lt;/li&gt;
				  &lt;/ul&gt;
				&lt;/li&gt;
				&lt;li id="menu_width5" class="menuDepth1"&gt; &lt;a href="#"&gt;MENU 05&lt;/a&gt;
				  &lt;ul class="menuDepth2"&gt;
					&lt;li&gt;&lt;a href="#"&gt;MENU05_01&lt;/a&gt;&lt;/li&gt;
				  &lt;/ul&gt;
				&lt;/li&gt;
			  &lt;/ul&gt;
			&lt;/div&gt;
		  &lt;/div&gt;
		  &lt;!-- //gnbNavi --&gt; 
			  &lt;!-- 로그인, 회원가입 --&gt;
		  &lt;div class="loginArea"&gt;
			&lt;div class="login_after_box"&gt;
			  &lt;ul&gt;
				  &lt;div class="workChange"&gt;
					&lt;a class="l_change_n" href="#"&gt;홍길동님&lt;/a&gt;
				  &lt;/div&gt;
				  &lt;div class="moreWork" style="display: none;"&gt;
					&lt;ul&gt;
					  &lt;li&gt; &lt;a href="#"&gt;&lt;span&gt;마이페이지&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
					  &lt;li&gt; &lt;a href="#"&gt; &lt;span&gt;회원정보수정&lt;/span&gt; &lt;/a&gt; &lt;/li&gt;
					  &lt;li&gt; &lt;a href="#"&gt; &lt;span&gt;로그아웃&lt;/span&gt; &lt;/a&gt; &lt;/li&gt;
					&lt;/ul&gt;
				  &lt;/div&gt;
				&lt;/li&gt;				
			  &lt;/ul&gt;
			&lt;/div&gt;	
		  &lt;/div&gt;
		  &lt;!-- //로그인, 회원가입 --&gt;
		  &lt;div class="mobile_gnb"&gt;
			&lt;div class="hamburger mobile_gnb_open_btn" id="hamburger-1"&gt;&lt;span class="line"&gt;&lt;/span&gt;&lt;span class="line"&gt;&lt;/span&gt;&lt;span class="line"&gt;&lt;/span&gt;/div&gt;
			&lt;div class="mobile_gnb_list"&gt;
			  &lt;div class="mobileLogin"&gt; &lt;a href="#"&gt;로그인&lt;/a&gt; &lt;/div&gt;
			  &lt;div class="gnb_area"&gt;
		        	&lt;div id="menu_width1" class="oneD depth"&gt; &lt;a href="#"&gt;MENU 01&lt;/a&gt;&lt;/div&gt;
			        	&lt;div class="twoD"&gt; &lt;a href="#"&gt;MENU 01_01&lt;/a&gt;&lt;/div&gt;
					&lt;div id="menu_width2" class="oneD depth"&gt; &lt;a href="#"&gt;MENU 02&lt;/a&gt;&lt;/div&gt;
					&lt;div class="twoD"&gt; &lt;a href="#"&gt;MENU 02_01&lt;/a&gt;&lt;/div&gt;
					&lt;div id="menu_width3" class="oneD depth"&gt; &lt;a href="#"&gt;MENU 03&lt;/a&gt;&lt;/div&gt;
					&lt;div class="twoD"&gt; &lt;a href="#"&gt;MENU 03_01&lt;/a&gt;&lt;/div&gt;
					&lt;div id="menu_width4" class="oneD depth"&gt; &lt;a href="#"&gt;MENU 04&lt;/a&gt;&lt;/div&gt;
					&lt;div class="twoD"&gt; &lt;a href="#"&gt;MENU 04_01&lt;/a&gt;&lt;/div&gt;
					&lt;div id="menu_width5" class="oneD depth"&gt; &lt;a href="#"&gt;MENU 05&lt;/a&gt;&lt;/div&gt;
					&lt;div class="twoD"&gt; &lt;a href="#"&gt;MENU 05_01&lt;/a&gt; &lt;/div&gt;
				  &lt;/div&gt;
				&lt;/div&gt;
			  &lt;/div&gt;
			  &lt;!-- //gnbArea --&gt; 
			&lt;/div&gt;
		  &lt;/div&gt;
		  &lt;!-- //gnbWrap --&gt;
	 &lt;form class="authority2" id="loginForm2" name="loginForm2" method="post"&gt;
		&lt;input type="hidden" id="athrCd" name="athrCd" value="100004"&gt;
	  &lt;/form&gt;
     &lt;!-- gnb_layout :e --&gt;
&lt;/header&gt;</span></span></span></code></pre>
	</div>
								
				
				
			 </div>
            <!-- //콘텐츠 끝 -->
    
          </div>
        </div>
      </div>
    </div>

<!-- diFooter -->

<!-- 전체메뉴 박스 -->
<div id="mobile_menu"></div>
<!-- //전체메뉴 박스 -->


		</div> 
	  <!-- //div = diContents --> 
		 </article> <!-- //<article id="diContainer"> --> 
		
		
		</div>  
	 <!-- //div = diWrap -->
	
<!-- 20240319 스크립트 수정 start -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script>
		// 3. 웹 문서가 로드되면 클립보드 객체 생성
		$(document).ready(function(){

			var clipboard = new Clipboard('.btn');
		// 알림창 옵션 설정
	var toastrOptions = {
	  "debug": false,
	  "newestOnTop": false,
	  "progressBar": false,
	  "positionClass": "toast-top-right",
	  "preventDuplicates": true,
	  "onclick": null,
	  "showDuration": "100",
	  "hideDuration": "100",
	  "timeOut": "100",
	  "extendedTimeOut": "100",
	  "showEasing": "swing",
	  "hideEasing": "linear",
	  "showMethod": "fadeIn",
	  "hideMethod": "fadeOut",
	};

	// 스크립트 복사 성공 시 알림창 띄우기
	clipboard.on('success', function(e) {
	  console.log("Success");
	  var selection = window.getSelection();
	  selection.removeAllRanges();
	  toastr.success("클립보드에 복사 되었습니다.", toastrOptions);
	});

			clipboard.on('error', function(e) {
				console.log("Fail");
			});

			 var btns = document.querySelectorAll('button');
			var clipboard = new Clipboard(btns);

		});
	</script>
<!-- 20240319 스크립트 수정 end -->
</body>
</html>
